<h1>トーク</h1>
<ul>
    <% @talks.each do |t|  %>
    <li>
      <%= t.message %>
      <%= form_for(@talk, :url => {:controller => :talks, :action => :destroy}, :html => { :class => :inline }) do |f| %>
          <% @talk.id = t.id %>
          <%= f.hidden_field :id %>
          <%= f.submit "x" %>
      <% end %>
    </li>
    <% end %>
</ul>

<%= form_for(@talk, :url => {:controller => :talks, :action => :create}) do |f| %>
    <%= f.text_field :message %>
    <%= f.submit "送信" %>
<% end %>