%h1 トク
%ul
  - @talks.each do |t|
    %li
      = t.message
      - if t.user_id == @current_login_user_id
        = form_for(@talk, :url => {:controller => :talks, :action => :destroy}, :html => { :class => :inline }) do |f|
          - @talk.id = t.id
          = f.hidden_field :id
          = f.submit "x"
= form_for(@new_talk, :url => {:controller => :talks, :action => :create}) do |f|
  - @new_talk.user_id = @current_login_user_id
  = f.hidden_field :user_id
  = f.text_field :message
  = f.submit "送信"
- @talk.errors.full_messages.each do |msg|
  %p= msg
